Source: gmsh
Section: math
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders:
 Christophe Prud'homme <prudhomm@debian.org>,
 Anton Gladky <gladk@debian.org>,
 Christophe Trophime <christophe.trophime@lncmi.cnrs.fr>
Build-Depends:
 chrpath,
 cmake,
 debhelper (>= 9),
 default-jdk,
 freeglut3-dev,
 gfortran,
 javahelper,
 libann-dev,
 libblas-dev,
 libcgns-dev (>= 3.1.3.2),
 libfltk1.3-dev (>=1.1.7),
 libgl1-mesa-dev,
 libgl2ps-dev,
 libglu1-mesa-dev,
 libgmm++-dev [!hurd-i386 !s390x],
 libhdf5-mpi-dev (>= 1.8.8) [alpha amd64 i386 ia64 kfreebsd-amd64 kfreebsd-i386 powerpc powerpcspe sparc],
 libjpeg-dev,
 liblapack-dev,
 libmed-dev (>= 2.3.6),
 libmedc-dev (>= 2.3.6),
 liboce-modeling-dev,
 liboce-ocaf-dev,
 liboce-visualization-dev,
 libpng-dev,
 mpi-default-dev,
 oce-draw,
 python-dev (>= 2.6.6-3~),
 swig2.0,
 texinfo,
 texlive,
 zlib1g-dev
Standards-Version: 3.9.5
X-Python-Version: current
Vcs-Git: git://anonscm.debian.org/debian-science/packages/gmsh.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=debian-science/packages/gmsh.git
Homepage: http://www.geuz.org/gmsh/

Package: gmsh
Architecture: amd64 armel armhf i386 ia64 powerpc powerpcspe s390 s390x sparc
Depends:
 mpi-default-bin,
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 gmsh-doc
Description: Three-dimensional finite element mesh generator
 Gmsh is an automatic 3D finite element mesh generator (primarily
 Delaunay) with build-in CAD and post-processing facilities. Its
 design goal is to provide a simple meshing tool for academic test
 cases with parametric input and up to date visualization
 capabilities.
 .
 Gmsh is built around four modules: geometry, mesh, solver and
 post-processing. The specification of any input to these modules is
 done either interactively using the graphical user interface or in
 ASCII text files using Gmsh's own scripting language.
 .
 See Gmsh's reference manual for a more thorough overview of Gmsh's
 capabilities.

Package: gmsh-doc
Architecture: all
Depends:
 mpi-default-bin,
 ${misc:Depends},
 ${shlibs:Depends}
Multi-Arch: foreign
Replaces:
 gmsh (<< 2.6.0.dfsg-3)
Breaks:
 gmsh (<< 2.6.0.dfsg-3)
Section: doc
Description: Three-dimensional finite element mesh generator
 Gmsh is an automatic 3D finite element mesh generator (primarily
 Delaunay) with build-in CAD and post-processing facilities. Its
 design goal is to provide a simple meshing tool for academic test
 cases with parametric input and up to date visualization
 capabilities.
 .
 Gmsh is built around four modules: geometry, mesh, solver and
 post-processing. The specification of any input to these modules is
 done either interactively using the graphical user interface or in
 ASCII text files using Gmsh's own scripting language.
 .
 The package contains documentation and examples.

Package: libgmsh-dev
Architecture: amd64 armel armhf i386 ia64 powerpc powerpcspe s390 s390x sparc
Section: libdevel
Replaces:
 gmsh (<< 2.6.0.dfsg-3)
Breaks:
 gmsh (<< 2.6.0.dfsg-3)
Recommends:
 gmsh
Depends:
 libgmsh2 (= ${binary:Version}),
 libjava-gmsh2 (= ${binary:Version}),
 ${misc:Depends}
Multi-Arch: foreign
Description: Three-dimensional finite element mesh generator. Development files
 Gmsh is an automatic 3D finite element mesh generator (primarily
 Delaunay) with build-in CAD and post-processing facilities. Its
 design goal is to provide a simple meshing tool for academic test
 cases with parametric input and up to date visualization
 capabilities.
 .
 Gmsh is built around four modules: geometry, mesh, solver and
 post-processing. The specification of any input to these modules is
 done either interactively using the graphical user interface or in
 ASCII text files using Gmsh's own scripting language.
 .
 See Gmsh's reference manual for a more thorough overview of Gmsh's
 capabilities.
 .
 The package contains development files.

Package: libgmsh2
Architecture: amd64 armel armhf i386 ia64 powerpc powerpcspe s390 s390x sparc
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Replaces:
 gmsh (<< 2.6.0.dfsg-3),
 libjava-gmsh2 (<<2.7.1.dfsg-1)
Breaks:
 gmsh (<< 2.6.0.dfsg-3),
 libjava-gmsh2 (<<2.7.1.dfsg-1)
Recommends:
 gmsh
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Description: Three-dimensional finite element mesh generator. Shared library
 Gmsh is an automatic 3D finite element mesh generator (primarily
 Delaunay) with build-in CAD and post-processing facilities. Its
 design goal is to provide a simple meshing tool for academic test
 cases with parametric input and up to date visualization
 capabilities.
 .
 Gmsh is built around four modules: geometry, mesh, solver and
 post-processing. The specification of any input to these modules is
 done either interactively using the graphical user interface or in
 ASCII text files using Gmsh's own scripting language.
 .
 See Gmsh's reference manual for a more thorough overview of Gmsh's
 capabilities.
 .
 The package contains a shared library.

Package: libjava-gmsh2
Section: java
Architecture: amd64 armel armhf i386 ia64 powerpc powerpcspe s390 s390x sparc
Replaces:
 gmsh (<< 2.6.0.dfsg-3)
Breaks:
 gmsh (<< 2.6.0.dfsg-3)
Recommends:
 gmsh
Depends:
 libgmsh2 (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends}
Multi-Arch: foreign
Description: Three-dimensional finite element mesh generator. Java wrapper
 Gmsh is an automatic 3D finite element mesh generator (primarily
 Delaunay) with build-in CAD and post-processing facilities. Its
 design goal is to provide a simple meshing tool for academic test
 cases with parametric input and up to date visualization
 capabilities.
 .
 Gmsh is built around four modules: geometry, mesh, solver and
 post-processing. The specification of any input to these modules is
 done either interactively using the graphical user interface or in
 ASCII text files using Gmsh's own scripting language.
 .
 See Gmsh's reference manual for a more thorough overview of Gmsh's
 capabilities.
 .
 This package contains the Java wrappers for gmsh
Pre-Depends:
 ${misc:Pre-Depends}

Package: python-gmsh
Section: python
Architecture: amd64 armel armhf i386 ia64 powerpc powerpcspe s390 s390x sparc
Replaces:
 gmsh (<< 2.6.0.dfsg-3)
Breaks:
 gmsh (<< 2.6.0.dfsg-3)
Recommends:
 gmsh
Multi-Arch: foreign
Depends:
 libgmsh2 (= ${binary:Version}),
 python (<<2.8),
 python (>= 2.7),
 ${misc:Depends},
 ${shlibs:Depends}
Description: Three-dimensional finite element mesh generator. Python wrapper
 Gmsh is an automatic 3D finite element mesh generator (primarily
 Delaunay) with build-in CAD and post-processing facilities. Its
 design goal is to provide a simple meshing tool for academic test
 cases with parametric input and up to date visualization
 capabilities.
 .
 Gmsh is built around four modules: geometry, mesh, solver and
 post-processing. The specification of any input to these modules is
 done either interactively using the graphical user interface or in
 ASCII text files using Gmsh's own scripting language.
 .
 See Gmsh's reference manual for a more thorough overview of Gmsh's
 capabilities.
 .
 This package contains the Python wrapper for gmsh
