Source: gmsh
Section: math
Priority: optional
Maintainer: Debian Scientific Computing Team <pkg-scicomp-devel@lists.alioth.debian.org>
Uploaders: Christophe Prud'homme <prudhomm@debian.org>
Build-Depends: debhelper (>= 7), quilt, cdbs, cmake, gfortran, libgl1-mesa-dev|nvidia-glx-dev,
 libglu1-mesa-dev, libfltk1.1-dev (>=1.1.7),
 libpng12-dev, libjpeg62-dev, zlib1g-dev, texlive, texinfo,
 libopencascade-modeling-dev,
 libcgns-dev (>= 2.5.3),
 libmedc-dev (>= 2.3.6),
 libblas-dev | libblas-3gf.so, liblapack-dev | liblapack-3gf.so
Standards-Version: 3.8.4
Vcs-Svn: svn://svn.debian.org/svn/pkg-scicomp/gmsh/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-scicomp/gmsh/
Homepage: http://www.geuz.org/gmsh/

Package: gmsh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcgns2 (>= 2.5.3)
Recommends: mpi-default-bin
Description:  three-dimensional finite element mesh generator
 Gmsh is an automatic 3D finite element mesh generator (primarily
 Delaunay) with build-in CAD and post-processing facilities. Its
 design goal is to provide a simple meshing tool for academic test
 cases with parametric input and up to date visualization
 capabilities.
 .
 Gmsh is built around four modules: geometry, mesh, solver and
 post-processing. The specification of any input to these modules is
 done either interactively using the graphical user interface or in
 ASCII text files using Gmsh's own scripting language.
 .
 See Gmsh's reference manual for a more thorough overview of Gmsh's
 capabilities.
